/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar:hover {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f14f;
    backdrop-filter: blur(20px);
    border-radius: 200px !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 200px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 75, 138) !important;
    border-radius: 200px !important;
  }
  .toCMS {
    position: absolute;
    top: 10px;
    left: 10vw;
    z-index: 201;
}
.toLogout {
    position: absolute;
    top: 10px;
    right: 10vw;
    z-index: 200;
}
.container {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.61)),url(../../assets/South-Africa-World-Cup-2010-Soccer-City-Stadium.jpg);
    height: 100%;
    background-size: cover;
    background-position: 50%;
    position: relative;
    user-select: none;
    // overflow: hidden;
   
    .leftDiv {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(rgba(172, 255, 176, 0.932)), url(../../assets/SoqAxJR.png);
        background-size: cover;
        width: 7vw;
        border-radius: 0px 100px 100px 0px;
    }
    .rightDiv {
        border-radius: 100px 0px 0px 100px;
        width: 7vw;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(rgba(172, 255, 176, 0.932)), url(../../assets/SoqAxJR.png);
        background-size: cover;
    }
    .middleDiv {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7vw;
        right: 7vw;
        height: 100%;
        // overflow: hidden;
        .head {
            text-align: center;
            color: white;
            user-select: none;
            pointer-events: none;
            margin: 5px 0px;
            height: 10%;
            .logo {

                width: 50px;
                height: 50px;
                background: green;
                margin: 10px auto;
                border-radius: 200px;
                color: white;
                display: flex;
                // align-content: center;
                align-items: center;
                text-align: center;
                p {
                    text-align: center;
                    margin: auto;
                    font-size: 30px;
                }
            }
            p {
                margin: 2px 0px;
            }
        }
        .middleContent {
            width: 100%;
            height: 85%;
            display: flex;
            flex-wrap: nowrap;
            .left {
                flex-basis: 50%;
                backdrop-filter: blur(50px) brightness(150%);
                color: white;
                align-items: center;
                margin: 5px;
                border-radius: 30px 30px 0px 0px;
               .lHead {
                   display: flex;
                   padding: 20px;
                //    height: 3.5%;
                   p {
                       flex-basis: 90%;
                       align-items: center;
                       display: flex;
                       
                   }
               }
               .lList {
                   max-height: 90%;
                   overflow-y: auto;
                   .card {
                    background: white;
                       width: 90%;
                       height: 100px;
                       margin: 5px auto;
                       border-radius: 10px;
                       box-shadow: 0px 3px 3px #17171717;
                       display: flex;
                       color: black;
                       overflow: hidden;
                       .image {
                           width: 30%;
                           height: 100%;
                           img {
                               width: 100%;
                               height: 100%;
                               object-fit: cover;
                           }
                       }
                       .details {
                           width: 70%;
                           height: 100%;
                           display: flex;
                           align-items: center;
                           padding: 0px 20px;
                       }
                   }
               }
            }
            .right {
                flex-basis: 50%;
                backdrop-filter: blur(50px) brightness(150%);
                margin: 5px;
                border-radius: 30px 30px 0px 0px;
                .rHead {
                    display: flex;
                    padding: 27px;
                    p {
                        color: white;
                        flex-basis: 90%;
                        align-items: center;
                        display: flex;
                        
                    }
                }
                .rList {
                    max-height: 90%;
                    overflow-y: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .card {
                        position: relative;
                     background: linear-gradient(rgba(255, 255, 255, 0.329)), url(../../assets/gray-polygonal-background-tmeks.jpg);
                     background-size: cover;
                        width: 340px;
                        margin: 5px 5px 25px 5px;
                        border-radius: 10px;
                        box-shadow: 0px 3px 3px #17171717;
                        display: flex;
                        color: black;
                        .appro {
                            position: absolute;
                            bottom: -15px;
                            left: 0;
                            right: 0;
                            text-align: center;
                        }
                        .tTitle {
                            text-align: center;
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            padding: 5px;
                            h5 {
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .tDetails {
                            height: 100%;
                            align-items: center;
                            padding: 5px;
                            flex-basis: 90%;
                            padding-top: 40px;
                        }
                        .sponsors {
                            display: flex;
                            flex-direction: column;
                            padding-top: 40px;
                            img {
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}