<ion-content>
  <div class="checking animated delay-1s" [ngClass]="{'fadeOut': checking.login,'fadeOutUp': checking.profile}">
    <div class="loading " >
      <ion-spinner name="lines" color="light" *ngIf="authStatus=='Checking'"></ion-spinner> <br>
      <h1>{{authStatus}}</h1>
    </div>
  </div>
<div class="body">
  <div class="container" [ngClass]="{'right-panel-active':profile}" id="container">
    <div class="form-container sign-up-container">
      <form (ngSubmit)="createProfile(profileForm.value)" [formGroup]="profileForm">
        <h1>Create Profile</h1>
        <div class="social-container">
        </div>
        <ion-item>
          <ion-label position="stacked">Profile Image</ion-label>
          <ion-input type="file"  type="file" accept="image/*" multiple="false" (change)="selectimage($event.target.files)"></ion-input>
        </ion-item>
        <ion-progress-bar value="{{uploadprogress/100}}"></ion-progress-bar>
        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="tel" formControlName="phoneNumber"></ion-input>
        </ion-item>
        <br>
        <button *ngIf="profileForm.valid&&imageUploaded" type="submit">Finish</button>
        <button style='opacity: 0.5;' *ngIf="!profileForm.valid&&!imageUploaded" disabled="true">Finish</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="signIn(adminForm.value)" [formGroup]="adminForm">
        <h1>Sign in</h1>
        <div class="social-container">
  
        </div>
        <!-- <span>to your account</span> -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div style='color: rgb(255, 74, 74);' *ngFor="let validation of validation_messages.email">
          <div class="err"
            *ngIf="adminForm.get('email').hasError(validation.type) && (adminForm.get('email').dirty || adminForm.get('email').touched)">
            <p>{{validation.message}}</p>
          </div>

        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div style='color: rgb(255, 74, 74);' *ngFor="let validation of validation_messages.password">
          <div class="err"
            *ngIf="adminForm.get('password').hasError(validation.type) && (adminForm.get('password').dirty || adminForm.get('password').touched)">
            <p>{{validation.message}}</p>
          </div>

        </div>
        <!-- <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" /> -->
        <br><br>
        <button *ngIf="signingin&&adminForm.valid" disabled="true"><ion-spinner size="small" style="margin: 0;" name="bubbles"></ion-spinner ></button>
        <button *ngIf="adminForm.valid&&!signingin">Sign In</button>
        <button style='opacity: 0.5;' *ngIf="!adminForm.valid" disabled="true">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <img style="position: absolute;
        bottom: -65px;
        /* width: 142%; */
        /* left: 0px; */
        /* right: 0px; */
        transform: translateX(100px);
        opacity: .1;" src="../../assets/Overelaybg.png" alt="">
        <div class="overlay-panel overlay-left">
          <h1>No Profile!</h1>
          <p>To use the dashboard, your profile is required.</p>
          <!-- <button class="ghost" id="signIn">Sign In</button> -->
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your details and start using the application.</p>
          <!-- <button class="ghost" id="signUp">Sign Up</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>