<ion-content>
    <div class="checking animated" [ngClass]="{'fadeOut': checking.login,'fadeOut': checking.profile}">
        <div class="c">
          <p>{{authStatus}}</p>
          <ion-spinner color="light" name="dots"></ion-spinner>
        </div>
      </div>
  <div class="container">
    <div class="cName">
      <p>Nathi's</p>
      <span><b>Tournaments</b></span>
    </div>
    <div class="middle-div" id="particles-js">
      <div class="loginTitle animated" [ngClass]="{'fadeInUp': login,'fadeOutUp': !login}">
        <h4>Dashboard</h4>
      </div>
      <div class="profileTitle animated " [ngClass]="{'fadeInUp': profile,'fadeOutUp': !profile}">
        <h4>Manage Profile</h4>
      </div>
      <!-- login form -->
      <div class="form animated " [ngClass]="{'fadeInUp': login,'fadeOutUp': !login}">

  <form (ngSubmit)="signIn(adminForm.value)" [formGroup]="adminForm">
          <input type="email" formControlName="email" placeholder="nathi@tournaments.com">
          <div style='color: rgb(255, 74, 74);' *ngFor="let validation of validation_messages.email">
            <div class="err"
              *ngIf="adminForm.get('email').hasError(validation.type) && (adminForm.get('email').dirty || adminForm.get('email').touched)">
              <p>{{validation.message}}</p>
            </div>

          </div>
          <br>
          <input type="password" formControlName="password" placeholder="Password">
          <div style='color: rgb(255, 74, 74);' *ngFor="let validation of validation_messages.password">
            <div class="err"
              *ngIf="adminForm.get('password').hasError(validation.type) && (adminForm.get('password').dirty || adminForm.get('password').touched)">
              <p>{{validation.message}}</p>
            </div>

          </div> <br>
          <button *ngIf="signingin&&adminForm.valid" disabled="true"><ion-spinner style="margin: 0;" name="bubbles"></ion-spinner></button>
          <button *ngIf="adminForm.valid&&!signingin">Sign In</button>
          <button style='opacity: 0.5;' *ngIf="!adminForm.valid" disabled="true">Sign In</button>
        </form>
      </div>
      <!-- user profile -->
      <div class="profile animated " [ngClass]="{'fadeInUp': profile,'fadeOutUp': !profile}">
        <div class="image" (click)="selectImage()">
           <div class="iSpinner" *ngIf="uploadprogress>0" >
              <div>
                  <ion-spinner color="light" name="lines"></ion-spinner>
                  <ion-progress-bar value="uploadprogress/100"></ion-progress-bar>
              </div>
           </div>
          <img
            src="{{adminProfile.image}}">
          <div class="pLabel">
          </div>
        </div>




        <form (ngSubmit)="createProfile(profileForm.value)" [formGroup]="profileForm">
          <input type="text" formControlName="fullName" placeholder="Full Name"> 
          <div style='color: rgb(255, 74, 74);' *ngFor="let validation of profile_validation.fullName">
              <div class="err"
                *ngIf="profileForm.get('fullName').hasError(validation.type) && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
                <p>{{validation.message}}</p>
              </div>
  
            </div>
          <br>
          <input type="tel" formControlName="phoneNumber" placeholder="Phone Number"> 
          <div style='color: rgb(255, 74, 74);' *ngFor="let validation of profile_validation.phoneNumber">
              <div class="err"
                *ngIf="profileForm.get('phoneNumber').hasError(validation.type) && (profileForm.get('phoneNumber').dirty || profileForm.get('phoneNumber').touched)">
                <p>{{validation.message}}</p>
              </div>
  
            </div>
          <br>
          <button *ngIf="profileForm.valid">Finish</button>
          <button style='opacity: 0.5;' *ngIf="!profileForm.valid" disabled="true">Finish</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>